<h1>Digite a palavra chave para procurar pelas respostas</h1>
<form id="buscar_respostas" action="/buscar-respostas" method="GET">

  <div class="input-group mb-3">
    <input id="formbuscachave" type="text" class="form-control" aria-label="Default" name="chave"
      placeholder="Buscar palavras chave para atribuir a resposta" aria-describedby="inputGroup-sizing-default">
  </div>
  <button class="btn btn-secondary" type="submit">Buscar</button>
</form>
<br>
{{resultado}}
{{#each chaves}}
  <p>Palavras chave: 
  {{#each keyword}}
 {{this}},
  {{/each}}
   </p>
  <h3> Resposta: {{response}} </h3>
<hr>
{{/each}}