<form id="cadastro_resposta" method="POST" action="/executacadastroRespostas">

<div class="input-group mb-3">
  <input type="text" class="form-control" aria-label="Default" name="chave" placeholder="Buscar palavras chave para atribuir a resposta" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" aria-label="Default" name="resposta" placeholder="Cadastrar resposta para as chaves escolhidas" aria-describedby="inputGroup-sizing-default">
</div>
<button class="btn btn-secondary" type="submit">Cadastrar</button>
</form>