<br>
<form id="cadastro_resposta" method="POST" action="/executa-cadastro-respostas">

<div class="input-group mb-3">
  <select  multiple id="chaveinput" type="text" class="form-control selectpicker" aria-label="Default" name="chave" aria-describedby="inputGroup-sizing-default">
  
{{#each chaves}}
<option id='{{this}}'>{{this}}</option>
{{/each}}'
</select>

</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" aria-label="Default" name="resposta" placeholder="Cadastrar resposta para as chaves escolhidas" aria-describedby="inputGroup-sizing-default">
</div>
<button class="btn btn-secondary" type="submit">Cadastrar</button>
</form>
{{#each scripts}}
<script src=`{{script}}`></script>
{{/each}}