<h2 style="margin-top:20px;">Cadastro de palavras chave</h2>
<div style="color:blue">Cadastre as palavras chave separadas por espaço</div>
<div> Ex: Nova palavra chave cadastrada </div>
<form id="cadastra_keyword" action="/cadastrar-palavra-chave" method="POST">

<div class="input-group mb-3">
  <input action="" type="text" class="form-control" aria-label="Default" name="chave" placeholder="Digite a palavra chave aqui" aria-describedby="inputGroup-sizing-default">
</div>
<button class="btn btn-secondary" type="submit" >Cadastrar</button>
</form>
{{resultado}}
