<form id="cadastra_keyword" action="/executarcadkeyword" method="POST">

<div class="input-group mb-3">
  <input action="" type="text" class="form-control" aria-label="Default" name="keyword" placeholder="Digite a palavra chave aqui" aria-describedby="inputGroup-sizing-default">
</div>
<button type="submit" >Cadastrar</button>
</form>