 <br>
 <h2 style="margin-top:20px;">Pagina inicial</h2>
<p style="margin-top: 2px; font-size: 14px;">Aplicativo de relacionamento de frases x palavras-chave </p>
<div style="margin-top: 10px; font-size: 20px;"><b>Cadastrar palavras chave</b></div>
<p style="margin-top: 2px; font-size: 14px;"> Menu de cadastro das palavras chave que serão vínculadas as respostas </p>
<div style="margin-top: 10px; font-size: 20px;"><b>Cadastrar respostas</b></div>
<p style="margin-top: 2px; font-size: 14px;"> Permite o cadastro de até 8 palavras chave por respostas </p>
<div style="margin-top: 10px; font-size: 20px;"><b>Consultar palavras chave</b></div>
<p style="margin-top: 2px; font-size: 14px;"> Consulta das palavras chave criadas previamente </p>
<div style="margin-top: 10px; font-size: 20px;"><b>Consultar respostas</b></div>
<p style="margin-top: 2px; font-size: 14px;"> Consulta das respostas por palavra chave </p>
